@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  flex-direction: column;
  font-size: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.5rem;
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  z-index: 1;
}

.brand {
  font-size: 20px;
  font-weight: 700;
  font: 700 20px "Rowdies", sans-serif;
}

.links {
  display: flex;
  gap: 2rem;
  font: 700 20px "Courier New";
  padding: 0;
  margin: 0;
  z-index: 1;
}

a,
em {
  font-size: 18px;
  color: rgb(60, 60, 60);
  text-decoration: none;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 2rem;
  height: 10vh;
}

.box {
  position: absolute;
  width: 45rem;
  height: 15rem;
  z-index: -1;
  padding: 1rem;
  transform: rotate(185deg);
  /*  background-color: rgb(188, 217, 246); */
  /* From https://css.glass */
  background: rgba(142, 176, 254, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.4px);
  -webkit-backdrop-filter: blur(0.4px);
  border: 1px solid rgba(142, 176, 254, 0.08);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  height: 90vh;
  gap: 16px;
}

img {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  width: 40vw;
  aspect-ratio: 3/2;
}

.btn {
  outline: none;
  border: none;
  /* width: ; */
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(40, 60, 20);
  font: 700 16px "Courier New";
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn:hover {
  background-color: rgba(40, 60, 20, 0.705);
}

.action-container {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 2rem;
  width: 40vw;
  min-height: 14vh;
  border-radius: 8px;
  gap: 16px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  flex: 30%;
  gap: 8px;
}

input {
  border: none;
}

label,
.text {
  font: 700 16px "Rowdies", sans-serif;
}
