{% extends 'layout/base.html' %}{% load static %} {% block content %}

<div class="container">
  <div>
    <img id="uploaded-image" src="{% static image %}" />
  </div>

  <section class="action-container">
    <div class="col">
      <p class="text">Speech Conversion:</p>

      <audio id="myAudio" controls>
        <source src="{% static 'tts.mp3' %}" type="audio/mp3" />
      </audio>
    </div>

    <a href="/textOcr" class="btn"
      ><i class="fa fa-chevron-circle-left" id="icon"></i> TextOcr</a
    >
    <a href="/talkOcr" class="btn"
      >New <i class="fa fa-chevron-circle-right" id="icon"></i
    ></a>
  </section>
</div>

{% endblock %}
