{% extends 'layout/base.html' %}{% load static %} {% block content %}

<div class="container">
  <div>
    <img id="uploaded-image" src="{% static 'TextInput.png' %}" />
  </div>

  <form method="post" class="action-container">
    {% csrf_token %} {{ form }}
    <button type="submit" class="btn">
      Submit <i class="fa fa-chevron-circle-right" id="icon"></i>
    </button>
  </form>
  <audio id="myAudio" controls>
    <source src="{% static 'output.mp3' %}" type="audio/mp3" />
  </audio>
</div>

{% endblock %}
